# Pnpm configuration
shamefully-hoist=true
auto-install-peers=true

# Network settings
# fetch-timeout=300000
# fetch-retries=5
# fetch-retry-mintimeout=20000
# fetch-retry-maxtimeout=120000

# Registry settings
registry=https://registry.npmjs.org/
strict-ssl=true

